In [88]:
# Dependencies
from pathlib import Path
import pandas as pd
import os

In [89]:
#import data file
data_file1 = Path("Resources/prevalence-of-depression-males-vs-females.csv")

In [90]:
data_file2 = Path("Resources/share-with-mental-or-substance-disorders-by-sex.csv")

In [91]:
data_file_df1 = pd.read_csv(data_file1)

In [92]:
data_file_df2 = pd.read_csv(data_file2)

In [93]:
data_file_df1.head(10)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN
5,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0,NaN
6,Afghanistan,AFG,1995,4.307069,5.843231,18110662.0,NaN
7,Afghanistan,AFG,1996,4.309518,5.846326,18853444.0,NaN
8,Afghanistan,AFG,1997,4.313820,5.851590,19357126.0,NaN
9,Afghanistan,AFG,1998,4.318713,5.859476,19737770.0,NaN

In [94]:
data_file_df2.head(10)

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,17.448695,17.634233,12412311.0,NaN
2,Afghanistan,AFG,1991,17.771263,17.873184,13299016.0,NaN
3,Afghanistan,AFG,1992,18.051575,18.092318,14485543.0,NaN
4,Afghanistan,AFG,1993,18.275848,18.265196,15816601.0,NaN
5,Afghanistan,AFG,1994,18.427490,18.383394,17075728.0,NaN
6,Afghanistan,AFG,1995,18.494218,18.428552,18110662.0,NaN
7,Afghanistan,AFG,1996,18.490436,18.428497,18853444.0,NaN
8,Afghanistan,AFG,1997,18.467238,18.416571,19357126.0,NaN
9,Afghanistan,AFG,1998,18.438027,18.398962,19737770.0,NaN

In [95]:
#rows in df1
data_file_df1.value_counts

<bound method DataFrame.value_counts of               Entity      Code  Year  \
0           Abkhazia  OWID_ABK  2015
1        Afghanistan       AFG  1990
2        Afghanistan       AFG  1991
3        Afghanistan       AFG  1992
4        Afghanistan       AFG  1993
...              ...       ...   ...
56390       Zimbabwe       ZWE  1988
56391       Zimbabwe       ZWE  1989
56392       Zimbabwe       ZWE  2020
56393       Zimbabwe       ZWE  2021
56394  Åland Islands       ALA  2015

       Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)  \
0                                                    NaN
1                                               4.291054
2                                               4.293268
3                                               4.298265
4                                               4.303087
...                                                  ...
56390                                                NaN
56391                                                NaN
56392                                                NaN
56393                                                NaN
56394                                                NaN

       Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)  \
0                                                    NaN
1                                               5.859656
2                                               5.853078
3                                               5.850020
4                                               5.844987
...                                                  ...
56390                                                NaN
56391                                                NaN
56392                                                NaN
56393                                                NaN
56394                                                NaN

       Population (historical estimates) Continent
0                                    NaN      Asia
1                             12412311.0       NaN
2                             13299016.0       NaN
3                             14485543.0       NaN
4                             15816601.0       NaN
...                                  ...       ...
56390                          9849129.0       NaN
56391                         10153852.0       NaN
56392                         14862927.0       NaN
56393                         15092171.0       NaN
56394                                NaN    Europe

[56395 rows x 7 columns]>

In [96]:
#rows in df2
data_file_df2.value_counts

<bound method DataFrame.value_counts of               Entity      Code  Year  \
0           Abkhazia  OWID_ABK  2015
1        Afghanistan       AFG  1990
2        Afghanistan       AFG  1991
3        Afghanistan       AFG  1992
4        Afghanistan       AFG  1993
...              ...       ...   ...
56624       Zimbabwe       ZWE  2018
56625       Zimbabwe       ZWE  2019
56626       Zimbabwe       ZWE  2020
56627       Zimbabwe       ZWE  2021
56628  Åland Islands       ALA  2015

       Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)  \
0                                                    NaN
1                                              17.448695
2                                              17.771263
3                                              18.051575
4                                              18.275848
...                                                  ...
56624                                                NaN
56625                                                NaN
56626                                                NaN
56627                                                NaN
56628                                                NaN

       Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)  \
0                                                    NaN
1                                              17.634233
2                                              17.873184
3                                              18.092318
4                                              18.265196
...                                                  ...
56624                                                NaN
56625                                                NaN
56626                                                NaN
56627                                                NaN
56628                                                NaN

       Population (historical estimates) Continent
0                                    NaN      Asia
1                             12412311.0       NaN
2                             13299016.0       NaN
3                             14485543.0       NaN
4                             15816601.0       NaN
...                                  ...       ...
56624                         14438812.0       NaN
56625                         14645473.0       NaN
56626                         14862927.0       NaN
56627                         15092171.0       NaN
56628                                NaN    Europe

[56629 rows x 7 columns]>

In [97]:
#drop na rows in df1
# Drop rows where any of the specified columns have missing values
columns_to_check = ['Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)']  # List of column names to check for missing values

cleaned_data_file_df1 = data_file_df1.dropna(subset=columns_to_check, how='any', inplace=True)

In [98]:
data_file_df1.value_counts

<bound method DataFrame.value_counts of             Entity Code  Year  \
1      Afghanistan  AFG  1990
2      Afghanistan  AFG  1991
3      Afghanistan  AFG  1992
4      Afghanistan  AFG  1993
5      Afghanistan  AFG  1994
...            ...  ...   ...
56160     Zimbabwe  ZWE  2015
56161     Zimbabwe  ZWE  2016
56162     Zimbabwe  ZWE  2017
56163     Zimbabwe  ZWE  2018
56164     Zimbabwe  ZWE  2019

       Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)  \
1                                               4.291054
2                                               4.293268
3                                               4.298265
4                                               4.303087
5                                               4.306053
...                                                  ...
56160                                           3.090039
56161                                           3.094447
56162                                           3.097194
56163                                           3.092207
56164                                           3.080472

       Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)  \
1                                               5.859656
2                                               5.853078
3                                               5.850020
4                                               5.844987
5                                               5.843623
...                                                  ...
56160                                           3.927306
56161                                           3.938356
56162                                           3.946231
56163                                           3.947673
56164                                           3.941506

       Population (historical estimates) Continent
1                             12412311.0       NaN
2                             13299016.0       NaN
3                             14485543.0       NaN
4                             15816601.0       NaN
5                             17075728.0       NaN
...                                  ...       ...
56160                         13814642.0    Africa
56161                         14030338.0       NaN
56162                         14236599.0       NaN
56163                         14438812.0       NaN
56164                         14645473.0       NaN

[6840 rows x 7 columns]>

In [106]:
#drop na rows in df1
# Drop rows where any of the specified columns have missing values
columns_to_check2 = ['Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)', 'Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)']  # List of column names to check for missing values

cleaned_data_file_df2 = data_file_df2.dropna(subset=columns_to_check2, how='any', inplace=True)

In [107]:
#count rows in df1
data_file_df2.value_counts

<bound method DataFrame.value_counts of             Entity Code  Year  \
1      Afghanistan  AFG  1990
2      Afghanistan  AFG  1991
3      Afghanistan  AFG  1992
4      Afghanistan  AFG  1993
5      Afghanistan  AFG  1994
...            ...  ...   ...
56392     Zimbabwe  ZWE  2013
56393     Zimbabwe  ZWE  2014
56394     Zimbabwe  ZWE  2015
56395     Zimbabwe  ZWE  2016
56396     Zimbabwe  ZWE  2017

       Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)  \
1                                              17.448695
2                                              17.771263
3                                              18.051575
4                                              18.275848
5                                              18.427490
...                                                  ...
56392                                          12.495983
56393                                          12.512582
56394                                          12.529954
56395                                          12.546594
56396                                          12.561063

       Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)  \
1                                              17.634233
2                                              17.873184
3                                              18.092318
4                                              18.265196
5                                              18.383394
...                                                  ...
56392                                          10.687594
56393                                          10.698576
56394                                          10.709341
56395                                          10.728702
56396                                          10.740696

       Population (historical estimates) Continent
1                             12412311.0       NaN
2                             13299016.0       NaN
3                             14485543.0       NaN
4                             15816601.0       NaN
5                             17075728.0       NaN
...                                  ...       ...
56392                         13350378.0       NaN
56393                         13586710.0       NaN
56394                         13814642.0    Africa
56395                         14030338.0       NaN
56396                         14236599.0       NaN

[6468 rows x 7 columns]>

In [109]:
data_file_df1.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)',
       'Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [113]:
data_file_df2.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)',
       'Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [114]:
df_merge = data_file_df1.merge(data_file_df2, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'])

In [115]:
df_merge.head(100)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates)_x,Continent_x,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates)_y,Continent_y
0,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN,17.448695,17.634233,12412311.0,NaN
1,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN,17.771263,17.873184,13299016.0,NaN
2,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN,18.051575,18.092318,14485543.0,NaN
3,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN,18.275848,18.265196,15816601.0,NaN
4,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0,NaN,18.427490,18.383394,17075728.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,American Samoa,ASM,2001,2.330642,3.221972,58496.0,NaN,10.678139,11.015522,58496.0,NaN
96,American Samoa,ASM,2002,2.331761,3.219372,59077.0,NaN,10.674188,11.015574,59077.0,NaN
97,American Samoa,ASM,2003,2.331426,3.216705,59495.0,NaN,10.676457,11.010371,59495.0,NaN
98,American Samoa,ASM,2004,2.330505,3.213944,59684.0,NaN,10.680877,11.010669,59684.0,NaN
99,American Samoa,ASM,2005,2.329641,3.209956,59557.0,NaN,10.681227,11.010278,59557.0,NaN

In [116]:
df_merge.to_csv('merge_4_6_cleaned.csv')