In [262]:
# new jupyter project notebook file
# Dependencies
from pathlib import Path
import pandas as pd

In [263]:
#import data file
data_file = Path("Resources/Mental health Depression disorder Data.csv")

In [264]:
#look at datafile
data_file_df = pd.read_csv(data_file)
data_file_df.head(10)

C:\Users\michaelz\AppData\Local\Temp\ipykernel_14968\388421967.py:2: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data_file_df = pd.read_csv(data_file)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220
8,8,Afghanistan,AFG,1998,0.160931,0.699372,0.08733,4.826971,1.756963,4.114438,0.664676
9,9,Afghanistan,AFG,1999,0.161311,0.699674,0.086267,4.826413,1.770791,4.117633,0.663428

In [265]:
data_file_df.dtypes

index                          int64
Entity                        object
Code                          object
Year                          object
Schizophrenia (%)             object
Bipolar disorder (%)          object
Eating disorders (%)          object
Anxiety disorders (%)        float64
Drug use disorders (%)       float64
Depression (%)               float64
Alcohol use disorders (%)    float64
dtype: object

In [266]:
# Use dropna() to remove rows
data_file_df = data_file_df.dropna(how="any")

In [267]:
data_file_df.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [268]:
#convert column Year to int
data_file_df['Year'] = pd.to_numeric(data_file_df['Year'], errors = 'coerce', downcast="integer")

In [269]:
data_file_df.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [270]:
data_file_df.dtypes

index                          int64
Entity                        object
Code                          object
Year                           int16
Schizophrenia (%)             object
Bipolar disorder (%)          object
Eating disorders (%)          object
Anxiety disorders (%)        float64
Drug use disorders (%)       float64
Depression (%)               float64
Alcohol use disorders (%)    float64
dtype: object

In [271]:
data_file_df["Year"].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017], dtype=int16)

In [272]:
data_file_df.head(10)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220
8,8,Afghanistan,AFG,1998,0.160931,0.699372,0.08733,4.826971,1.756963,4.114438,0.664676
9,9,Afghanistan,AFG,1999,0.161311,0.699674,0.086267,4.826413,1.770791,4.117633,0.663428

In [254]:
data_file_df.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [273]:
# Specify the column you want to check for non-integer values
column_to_check = 'Year'

# Use boolean indexing to filter rows where the specified column is not an integer
data_file_df = data_file_df[data_file_df[column_to_check].apply(lambda x: isinstance(x, int))]

# Print the resulting DataFrame
print(data_file_df)

# data_file_df = data_file_df.dropna(subset=['Year'])

      index       Entity Code  Year Schizophrenia (%) Bipolar disorder (%)  \
0         0  Afghanistan  AFG  1990           0.16056             0.697779
1         1  Afghanistan  AFG  1991          0.160312             0.697961
2         2  Afghanistan  AFG  1992          0.160135             0.698107
3         3  Afghanistan  AFG  1993          0.160037             0.698257
4         4  Afghanistan  AFG  1994          0.160022             0.698469
...     ...          ...  ...   ...               ...                  ...
6463   6463     Zimbabwe  ZWE  2013           0.15567             0.607993
6464   6464     Zimbabwe  ZWE  2014          0.155993              0.60861
6465   6465     Zimbabwe  ZWE  2015          0.156465             0.609363
6466   6466     Zimbabwe  ZWE  2016          0.157111             0.610234
6467   6467     Zimbabwe  ZWE  2017          0.157963             0.611242

     Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  \
0                0.101855               4.828830                1.677082
1                0.099313               4.829740                1.684746
2                0.096692               4.831108                1.694334
3                0.094336               4.830864                1.705320
4                0.092439               4.829423                1.716069
...                   ...                    ...                     ...
6463             0.117248               3.090168                0.766280
6464             0.118073               3.093964                0.768914
6465              0.11947               3.098687                0.771802
6466             0.121456               3.104294                0.772275
6467             0.124443               3.110926                0.772648

      Depression (%)  Alcohol use disorders (%)
0           4.071831                   0.672404
1           4.079531                   0.671768
2           4.088358                   0.670644
3           4.096190                   0.669738
4           4.099582                   0.669260
...              ...                        ...
6463        3.128192                   1.515641
6464        3.140290                   1.515470
6465        3.155710                   1.514751
6466        3.174134                   1.513269
6467        3.192789                   1.510943

[5488 rows x 11 columns]

In [274]:
data_file_df.value_counts()

index  Entity       Code  Year  Schizophrenia (%)  Bipolar disorder (%)  Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  Depression (%)  Alcohol use disorders (%)
0      Afghanistan  AFG   1990  0.16056            0.697779              0.101855              4.828830               1.677082                4.071831        0.672404                     1
4328   Oman         OMN   2006  0.20041            0.790079              0.259052              4.739687               1.344691                3.504759        0.655899                     1
4336   Oman         OMN   2014  0.202879           0.787228              0.255661              4.531789               1.693958                3.402352        0.692664                     1
4335   Oman         OMN   2013  0.202944           0.786477              0.25438               4.516640               1.687397                3.389007        0.694211                     1
4334   Oman         OMN   2012  0.202886           0.786416              0.254677              4.525968               1.664668                3.387588        0.693092                     1
                                                                                                                                                                                          ..
2163   Germany      DEU   1997  0.252516           0.770266              0.481373              6.782581               0.771770                3.857159        2.159982                     1
2162   Germany      DEU   1996  0.253013           0.769904              0.480072              6.784381               0.757573                3.882934        2.153615                     1
2161   Germany      DEU   1995  0.253191           0.769741              0.477758              6.783240               0.750722                3.899397        2.151015                     1
2160   Germany      DEU   1994  0.252961           0.769755              0.475673              6.765662               0.748763                3.909669        2.150613                     1
6467   Zimbabwe     ZWE   2017  0.157963           0.611242              0.124443              3.110926               0.772648                3.192789        1.510943                     1
Name: count, Length: 5488, dtype: int64

In [275]:
data_file_df

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
6463,6463,Zimbabwe,ZWE,2013,0.15567,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
6464,6464,Zimbabwe,ZWE,2014,0.155993,0.60861,0.118073,3.093964,0.768914,3.140290,1.515470
6465,6465,Zimbabwe,ZWE,2015,0.156465,0.609363,0.11947,3.098687,0.771802,3.155710,1.514751
6466,6466,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
6467,6467,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943